<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  
  <div><%= f.label :name %>
  <%= f.text_field :name %></div>
  
  <div><%= f.label :position %>
  <%= f.text_field :position %></div>
  
  <div><%= f.label :year %>
  <%= f.text_field :year %></div>
  
  <div><%= f.label :major %>
  <%= f.text_field :major %></div>
  
  <div><%= f.label :project %>
  <%= f.text_field :project %></div>
  
  <div><%= f.label :experience %>
  <%= f.text_area :experience %></div>
  
  <div><%= f.label :about %>
  <%= f.text_area :about %></div>
  
  <div><%= f.label :image %>
  <%= f.text_field :image %></div>
  
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>
