<h2>Sign up</h2>

<br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>
  
  <div><%= f.label :position %>
  <%= f.text_field :position %></div>
  
  <div><%= f.label :year %>
  <%= f.text_field :year %></div>
  
  <div><%= f.label :major %>
  <%= f.text_field :major %></div>
  
  <div><%= f.label :project %>
  <%= f.text_field :project %></div>
  
  <div><%= f.label :experience %>
  <%= f.text_area :experience %></div>
  
  <div><%= f.label :about %>
  <%= f.text_area :about %></div>
  
  <div><%= f.label :image %>
  <%= f.text_field :image %></div> 
  
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
