<br>

<h2 class="text-heading-yellow featurette-heading-small">General Information</h2>

<%= form_for @application, :url => applications_path, :html => { :multipart => true } do |form| %>

	<div class="field">
	<%= form.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :name, :class => 'text-field' %>
  </div>
	</div>

	<%= form.label :email, :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :email, :class => 'text-field' %>
  </div>

	<%= form.label :phone, :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :phone, :class => 'text-field' %>
  </div>

	<%= form.label :year, :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :year, :class => 'text-field' %>
  </div>

	<%= form.label :major, 'Major(s)', :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :major, :class => 'text-field' %>
  </div>

	<%= form.label :gpa, 'GPA', :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :gpa, :class => 'text-field' %>
  </div>

<br><h2 class="text-heading-yellow featurette-heading-small">Short Answer</h2>

	<%= form.label :why_join, 'Why do you want to join Blueprint?', :class => 'control-label' %>
  <div class="controls">
    <%= form.text_area :why_join, rows: 6, :class => 'text-field' %>
  </div>

  <%= form.label :work_sample, 'List some of your work that we can access through the web. Please separate each url with a comma.', :class => 'control-label' %>
  <div class="controls">
    <%= form.text_area :work_sample, rows: 6, :class => 'text-field' %>
  </div>

	<%= form.label :development_type, 'Are you interested in front-end or back-end development?', :class => 'control-label' %>
  <div class="controls">
    <div class="radio"><%= form.radio_button :development_type, 'front_end' %>
		<%= form.label :front_end, 'Front-end', :class => "paragraph-font-small" %></div>
		<div class="radio"><%= form.radio_button :development_type, 'back_end' %>
		<%= form.label :back_end, 'Back-end', :class => "paragraph-font-small" %></div>
		<div class="radio"><%= form.radio_button :development_type, 'both' %>
		<%= form.label :both, :class => "paragraph-font-small" %></div>
  </div>

<br><h2 class="text-heading-yellow featurette-heading-small">Availability</h2>

	<%= form.label :cc_avilability, 'Will you be available on Thursday, February 7th, at 7-9PM for our coding challenge?', :class => 'control-label' %>
  <div class="controls">
    <%= form.check_box :cc_availability, {}, true, false %>
  </div>

<br><h2 class="text-heading-yellow featurette-heading-small">Resume Submission</h2>
  <%= form.label :resume, :class => 'control-label' %>
  <div class="controls">
    <%= form.file_field :resume, :class => 'file_field' %>
  </div>


	<br><br>
  <%= form.submit "Submit Application", :class => 'btn btn-primary' %>

<% end %>