<div class="container-fluid">
	
<%- model_class = Application -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
			<th><%= model_class.human_attribute_name(:year) %></th>
			<th><%= model_class.human_attribute_name(:major) %></th>
			<th><%= model_class.human_attribute_name(:gpa) %></th>
			<th>Resume</th>
			<th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= link_to application.name, application %></td>
				<td><%= application.year %></td>
				<td><%= application.major %></td>
				<td><%= application.gpa %></td>
				<td><%= link_to 'View Resume', application.resume.url %></td>
				<td>
	        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                    application_path(application),
	                    :method => :delete,
	                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                    :class => 'btn btn-mini btn-danger' %>
	    	</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>