<div class="container-fluid">
	<h2><%= @application.name %></h2>
	<br><b>Email: </b><%= @application.email %>
	<br><b>Phone: </b><%= @application.phone %>
	<br><b>Year: </b><%= @application.year %>
	<br><b>Major(s): </b><%= @application.major %>
	<br><b>Overall GPA: </b><%= @application.gpa %>

	<br><b>Why Join: </b>
		<br><%= @application.why_join %>
	<br><b>Work Sample: </b>
		<br><%= @application.work_sample %>
	<br><b>Front-end vs. back-end: </b><%= @application.development_type %>
	<br><b>Coding Challenge Availability: </b><%= @application.cc_availability %>

	<br><br><%= link_to 'View Resume', @application.resume.url %>
</div>