<div class="evaluation">
  <h1>Evaluation</h1>
  <span class="bold">Do you think <%= application.full_name %> should move on?</span>

  <%= form_for [:admin, evaluation], url: admin_application_evaluate_path(application_id: application.id) do |form| %>

    <div class="controls">
      <%= form.radio_button :decision, "yes" %> Yes&nbsp&nbsp&nbsp
      <%= form.radio_button :decision, "no" %> No&nbsp&nbsp&nbsp
      <%= form.radio_button :decision, "maybe" %> Maybe
    </div>

    <%= form.label :comment %>
    <div class="controls">
      <%= form.text_area :comment, rows: 6, class: 'text-field' %>
    </div>

    <%= form.submit "Submit Evaluation", class: 'flat-button' %>

  <% end %>
</div>

