- if current_user.nil?
  %li.nav.signin= link_to "Sign In", new_user_session_path
- else
  %li.dropdown
    %a#dropdown.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      = current_user.name
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Dashboard", dashboard_path
      %li= link_to "My Bio", edit_admin_user_path(current_user)
      - if current_user.is_admin
        %li= link_to "Applications", admin_applications_path
        %li= link_to "Projects", admin_projects_path
        %li= link_to "Sponsors", admin_sponsors_path
        %li= link_to "Users", admin_users_path
        %li= link_to "Settings", admin_settings_path
      %li= link_to "Logout", destroy_user_session_path, :method => :delete
