.container.applications
  .row-fluid
    .span10.offset1
      %h1.featurette-heading-blue Student Application
  .row-fluid
    .span10.offset1
      - if @application.errors.any?
        #error_explanation.alert.alert-error
          %h2.text-heading-blue.featurette-heading-smaller
            = pluralize(@application.errors.count, "error")
            prohibited this application from being submitted:
          %p.paragraph-font
          %ul
            - @application.errors.full_messages.each do |msg|
              %li= msg
        %br/
  .row-fluid
    .span5.offset1
      = render :partial => 'form'
    .span5
      .well.sidebar-nav
        %h2 Application Information
        %p.featurette-heading-small.text-heading-red
          Due Saturday, February 1st, 11:59pm
        %p.paragraph-font
          Please email
          \#{mail_to("team@calblueprint.org", "team@calblueprint.org")} if you have any problems or questions.
        %hr/
        %h2 Application Timeline
        %dl
          %dt.text-heading-yellow Application Due
          %dd.paragraph-font-small Saturday, February 1st, 11:59pm
        %br/
        %dt.text-heading-yellow Code With Blueprint [By invite only]
        %dd.paragraph-font-small
          Thursday, February 6th, 8:00pm
        %br/
        %dt.text-heading-yellow
          2nd Round Interviews [By invite only]
        %dd.paragraph-font-small
          Saturday, February 8th, 12:00pm
        %br/
        %dt.text-heading-yellow Welcome Event [By invite only]
        %dd.paragraph-font-small
          Sunday, February 9th, 3:00pm
        %br/
        %dt.text-heading-yellow First General Meeting
        %dd.paragraph-font-small
          Monday, February 10th, 8:00pm
        %p.paragraph-font.text-heading-red
          All events listed are mandatory for an invitation to join Blueprint.
        %hr/
        = image_tag "paw.png", class: "paw"
  / /.row-fluid
  %hr.featurette-divider/
/ /.container
