<div class="container-fluid">
	
<%- model_class = Event -%>
<div class="page-header">
  <h1>
  	<%=t '.title', :default => model_class.model_name.human.pluralize %>
  	<%= link_to("Create", {:action => 'new'}, :class => 'btn') %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Event Name</th>
		<th>Description</th>
		<th>Location</th>
		<th>Date</th>
		<th>Time</th>
		<th>Created By</th>
		<th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        	<td><%= event.name %></td>
        	<% desc_short = event.description.length > 50 ? event.description.slice(0,50)+"..." : event.description %>
        	<td><%= desc_short%></td>
        	<td><%= event.location %></td>
        	<td><%= if !event.date.nil? then event.date.to_date.strftime("%A, %d %B") end %></td>
        	<td><%= if !event.time.nil? then event.time.to_time.strftime("%l:%M %p") end %></td>
        	<td><%= event.creator %></td>
			<td>
				<%= link_to("Edit", {:action => 'edit', :id => event.id},
		        					   :class => 'btn btn-mini') %>
		        <%= link_to("Delete", {:action => 'destroy', :id => event.id},
		        					   :class => 'btn btn-mini btn-danger') %>
		        <%= link_to("Show", {:action => 'show', :id => event.id},
		        					   :class => 'btn btn-mini') %>
	    	</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>