- model_class = Project
.container-fluid
  .page-header
    %h1= t '.title', :default => model_class.model_name.human.pluralize
    %ul.nav.nav-tabs#application-tabs.container
      - first = true
      - Semester.all.each do |sem|
        - klass = first ? 'active' : ''
        %li{:class => klass}
          %a{:href => "#projects#{sem.id}", "data-toggle" => "tab"}
            ="#{sem.semester} #{sem.year}"
        - first = false
    .tab-content
      - first = true
      - Semester.all.each do |sem|
        - klass = first ? 'active' : ''
        .tab-pane{:id => "projects#{sem.id}", :class => klass}
          =render :partial => 'projects', locals: {projects: Project.semester(sem).order('created_at DESC')}
        - first = false

  = link_to t('.new', :default => t("helpers.links.new")),
    new_admin_project_path, :class => 'btn btn-primary'
