- unless member.nil?
  - colors = {"exec" => 'blue', "chair" => 'orange', "pl" => 'green', "member" => 'red', "faculty" => 'red', "alumni" => 'blue'}
  .span2
    - unless member.site.blank?
      %a{:href => member.site, :target => "_blank"}/
    = image_tag member.image.url(:profile), :class => "mobile-img"
    %div{:class => "infobox-#{colors[member.position_type]}-mobile flat-member"}
      %h2.text-heading-white.name-header.text-left= member.name
      %p.text-heading-white.name-middle.text-small.text-left
        = member.major
        %br/
        = "Class of " + member.year if member.year
      %p.text-heading-white.name-small.text-bottom-right
        - if member.is_alumni
          = member.most_recent_position
        - else
          = member.current_position
    .flip-container.hide-mobile{:ontouchstart => "this.classList.toggle('hover');"}
      .flipper
        .front
          = image_tag member.image.url(:profile)
        .back
          %div{:class => "infobox-#{colors[member.position_type]}"}
            %h2.text-heading-white.text-left= member.name
            %p.text-heading-white.text-small.text-left
              = member.major
              %br/
              = "Class of " + member.year if member.year
            %p.text-heading-white.text-bottom-right
              - if member.is_alumni
                = member.most_recent_position
              - else
                = member.current_position
    - if member.site
- else
  .span2
    .flip-container.hide-mobile{:ontouchstart => "this.classList.toggle('hover');"}
      .flipper
        .front
          = image_tag "gray_box.jpg"
        .back
          .infobox-red
            %h1.text-heading-white This Could Be You!
