<% unless member.nil? %>
  <% colors = {"exec" => 'blue', "chair" => 'orange', "pl" => 'green', "member" => 'red', "faculty" => 'red', "alumni" => 'blue'} %>

  <div class="span2">
    <% unless member.site.blank? %><a href="<%= member.site %>" target="_blank"><% end %>
      <%= image_tag member.image.url(:profile), :class => "mobile-img" %>
      <div class="infobox-<%= colors[member.position_type] %>-mobile flat-member">
        <h2 class="text-heading-white name-header text-left"><%= member.name %></h2>
        <p class="text-heading-white name-middle text-small text-left">
          <% if member.is_alumni && !member.company.nil? %>
            <%= member.company %>
          <% else %>
            <%= member.major %>
          <% end %>
          <br>
          <%= "Class of " + member.year if member.year %>
        </p>
        <p class="text-heading-white name-small text-bottom-right">
          <% if member.is_alumni %>
            <%= member.most_recent_position %>
          <% else %>
            <%= member.current_position %>
          <% end %>
        </p>
      </div>
      <div class="flip-container hide-mobile" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag member.image.url(:profile) %>
          </div>
          <div class="back">
            <div class="infobox-<%= colors[member.position_type] %>">
              <h2 class="text-heading-white text-left"><%= member.name %></h2>
              <p class="text-heading-white text-small text-left">
                <% if member.is_alumni && !member.company.nil? %>
                  <%= member.company %>
                <% else %>
                  <%= member.major %>
                <% end %>
                <br>
                <%= "Class of " + member.year if member.year %>
              </p>
              <p class="text-heading-white text-bottom-right">
                <% if member.is_alumni %>
                  <%= member.most_recent_position %>
                <% else %>
                  <%= member.current_position %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% if member.site %></a><% end %>
  </div>

<% else %>

  <div class="span2">
    <div class="flip-container hide-mobile" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <%= image_tag "gray_box.jpg" %>
        </div>
        <div class="back">
          <div class="infobox-red">
            <h1 class="text-heading-white">This Could Be You!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
