<% if member %>

  <div class="span2">
    <% if member.site %> <a href="http://<%= member.site %>"> <% end %>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="<%= member.image_path %>" alt="">
          </div>
          <div class="back">
            <% colors = {:executive => 'blue', :chair => 'green', :project_leader => 'orange', :faculty_sponsor => 'green'} %>
            <% color = 'red' %>
            <% color = colors[member.title.to_sym] if member.title %>
            <div class="infobox-<%=color%>">
              <h2 class="text-heading-white text-left"><%= member.name %></h2>
              <p class="text-heading-white text-small text-left">
                <%= member.major %>
                <br>
                <%= "Class of " + member.year.to_s() if member.year %>
              </p>

              <h5 class="text-heading-white text-bottom-right"><%= member.position %></h5>
            </div>
          </div>
        </div>
      </div>
    <% if member.site %> </a> <% end %>
  </div>

<% else %>

  <div class="span2">
    <% if true %> <a href="<%=join_path%>"> <% end %>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="assets/gray_box.jpg" alt="">
          </div>
          <div class="back">
            <div class="infobox-red">
              <h1 class="text-heading-white">This Could Be You!</h1>
            </div>
          </div>
        </div>
      </div>
    <% if true%> </a> <%end%>
  </div>

<% end %>