<% if member %>

  <div class="span2">
    <% if not member.site.blank? %> <a href="<%= member.site %>" target="_blank" > <% end %>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="<%= member.image_path %>" alt="">
          </div>
          <div class="back">
            <div class="infobox-<%= ['blue', 'green', 'orange', 'red'][rand(4)] %>">
              <h2 class="text-heading-white text-left"><%= member.name %></h2>
              <p class="text-heading-white text-small text-left">
                <%= member.major %>
                <br>
                <%= "Class of " + member.year if member.year %>
              </p>
              <p class="text-heading-white text-bottom-right"><%= member.position %></p>
            </div>
          </div>
        </div>
      </div>
    <% if member.site %> </a> <% end %>
  </div>

<% else %>

  <div class="span2">
    <a href="<%= join_path %>">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="assets/gray_box.jpg" alt="">
          </div>
          <div class="back">
            <div class="infobox-red">
              <h1 class="text-heading-white">This Could Be You!</h1>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

<% end %>