<% if member %>

  <div class="span2">
    <% unless member.site.blank? %> <a href="<%= member.site %>" target="_blank" > <% end %>
      <%= image_tag member.image.url, :class => "mobile-img" %>
      <% colors = {"exec" => 'blue', "chair" => 'orange', "pl" => 'green', "member" => 'red', "faculty" => 'red'} %>
      <div class="infobox-<%= colors[member.position_type] %>-mobile flat-member">
        <h2 class="text-heading-white name-header text-left"><%= member.name %></h2>
        <p class="text-heading-white name-middle text-small text-left">
          <%= member.major %>
          <br>
          <%= "Class of " + member.year if member.year %>
        </p>
        <p class="text-heading-white name-small text-bottom-right"><%= member.current_position %></p>
      </div>
      <div class="flip-container hide-mobile" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag member.image.url %>
          </div>
          <div class="back">
            <% colors = {"exec" => 'blue', "chair" => 'orange', "pl" => 'green', "member" => 'red', "faculty" => 'red'} %>
            <div class="infobox-<%= colors[member.position_type] %>">
              <h2 class="text-heading-white text-left"><%= member.name %></h2>
              <p class="text-heading-white text-small text-left">
                <%= member.major %>
                <br>
                <%= "Class of " + member.year if member.year %>
              </p>
              <p class="text-heading-white text-bottom-right"><%= member.current_position %></p>
            </div>
          </div>
        </div>
      </div>
    <% if member.site %> </a> <% end %>
  </div>

<% else %>

  <div class="span2">
    <div class="flip-container hide-mobile" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <%= image_tag "gray_box.jpg" %>
        </div>
        <div class="back">
          <div class="infobox-red">
            <h1 class="text-heading-white">This Could Be You!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
