<div class="container about hide-767">
  <br>
  <div class="tabbable tabs-left hide-767">
    <ul class="nav nav-tabs">
      <li class = "active">
        <%= link_to "Info", about_path %>
      </li>
      <li class="">
        <%= link_to "Team", team_path %>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        <%= render :partial => 'info' %>
      </div> <!--/.TAB1 -->
    </div><!--/.tab-content -->
  </div><!--/.tabbable -->
  <div class="tabbable show-767">
    <ul class="nav nav-tabs">
      <li class = "active">
        <%= link_to "Info", about_path %>
      </li>
      <li class="">
        <%= link_to "Team", team_path %>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        <%= render :partial => 'info' %>
      </div> <!--/.TAB1 -->
    </div><!--/.tab-content -->
  </div><!--/.tabbable -->
</div><!--/.container -->