- unless current_user.nil?
  .container.dashboard.hide-767
    %br/
    .row-fluid
      .span10.offset1
        %p.featurette-heading-yellow
          Dashboard
    %br/
    .row-fluid
      .span3.offset1
        %h2.text-heading-blue.featurette-heading-smaller Communication
        .dashboard.link-text
          %a{:href => "https://calblueprint.hipchat.com/"}
            = image_tag "dashboard/icon-hipchat.png", class: "img-link-icons fade-in"
            HipChat
          %br/
          %a{:href => "https://www.facebook.com/groups/419542454807300/"}
            = image_tag "dashboard/icon-facebook.png", class: "img-link-icons fade-in"
            Secret
          %br/
          %a{:href => "https://www.facebook.com/CalBlueprint"}
            = image_tag "dashboard/icon-facebook.png", class: "img-link-icons fade-in"
            Public
          %br/
          .dashboard.blue-text
            = image_tag "dashboard/icon-groupme.png", class: "img-link-icons fade-in"
            GroupMe
        %br/
        %h2.text-heading-blue.featurette-heading-smaller Project
        .dashboard.link-text
          %a{:href => "https://github.com/calblueprint"}
            = image_tag "dashboard/icon-github.png", class: "img-link-icons fade-in"
            GitHub
          %br/
          %a{:href => "https://www.pivotaltracker.com"}
            = image_tag "dashboard/icon-pivotal.png", class: "img-link-icons fade-in"
            Pivotal
      .span7
        %h2.text-heading-blue.featurette-heading-smaller Calendar
        %iframe{:frameborder => "0", :height => "500", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=2tou5qrq1leslpr4ab2er921n0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles", :style => " border-width:0 ", :width => "700"}
      / /.span-5
    / /.row-fluid
  / /.container
- else
  .row-fluid
    .span10.offset1
      %p.text-heading-silver.featurette-heading-smaller Sorry, must be user to see dashboard
