<% hackathon_link = "http://www.eventbrite.com/e/save-the-day-code-for-good-hackathon-tickets-10455555849?utm_campaign=new_eventv2&utm_medium=email&utm_source=eb_email&utm_term=eventurl_text" %>

<div class="container-full">
  <div class="row-fluid">
    <div class="span12">
      <div class="hackathon">
        <div id="hackathon-blueprint-presents" class="hackathon-section center">
          <div id="hackathon-blueprint-presents-inner">
            <div class="hackathon-title">
              <div id="hackathon-icon">
                <%= image_tag "hackathon/super_blueprint.png", class: "medium-image hackathon-main-image" %>
              </div>

              <div id="hackathon-main-text">
                <h1 class=""><span class="blueprint-font"><span class="blueprint-dark-blue">blue</span>print</span> <span class="white-color uppercase hackathon-presents">Presents</span></h1>
                <h1 class="large-title uppercase">Save the Day</h1>
                <h1 class="large-title uppercase">Code for Good</h1>
              </div>
              <h4 class="medium-title wide-spacing bottom-spacing">March 8 - 9 | Wozniak Lounge</h4>
              <%= link_to "Register Here", hackathon_link, class: "flat-button inverted" %>
            </div>
          </div>
        </div>

        <div id="hackathon-beat-the-clock" class="hackathon-section center">
          <div id="hackathon-beat-the-clock-inner">
            <div id="hackathon-clock-inner">
              <h1 class="large-title uppercase">Save the Date</h1>
              <h2 class="medium-large-title uppercase">Beat the Clock</h2>
            </div>
            <div class="hackathon-times">
              <div class="row-fluid">
                <div class="span4 offset2 center">
                  <h3 class="uppercase">Begins</h3>
                  <h1 class="uppercase">March 8</h1>
                  <%= image_tag "hackathon/4_o_clock.png", class: "medium-image" %>
                  <h3 class="uppercase">4 pm</h3>
                </div>
                <div class="span4 center">
                  <h3 class="uppercase">Ends</h3>
                  <h1 class="uppercase">March 9</h1>
                  <%= image_tag "hackathon/11_o_clock.png", class: "medium-image" %>
                  <h3 class="uppercase">11 am</h3>
                </div>
              </div>
            </div>
            <div class="hackathon-location">
              <h2 class="bold no-bottom-margin medium-title wide-spacing uppercase"><span class="white-color location">Location</span> | Wozniak Lounge <span class="gray">Soda Hall</span></h2>
            </div>
          </div>
        </div>

        <div id="hackathon-theme" class="hackathon-section">
          <div id="hackathon-theme-inner">
            <div id="hackathon-theme-inner-border">
              <h1 class="uppercase">Theme</h1>

              <p class="hackathon-theme-text">
              "Save the Day, Code for Good," hosted by Blueprint, is a hackathon designed around building technology that will have a positive impact on our community, both locally and globally. Local non-profit organizations will pitch their ideas to the participants before the kickoff to address real-world issues that non-profit organizations face today. The aim of this event is to provide a platform for programmers to come together to learn and build technologies for social good.
              </p>
            </div>
          </div>
        </div>

        <div id="hackathon-agenda" class="hackathon-section">
          <div id="hackathon-agenda-inner">
            <h1>Agenda</h1>

            <div id="hackathon-agenda-top">
              <h3 class="uppercase">Saturday, March 8th</h3>
              <h4>4:00 PM Opening + Presentations</h4>
              <h4>5:00 PM Idea Pitches</h4>
              <h4>5:30 PM Team Formations</h4>
              <h4>6:00 PM Begin Coding</h4>
              <h4>7:30 PM Dinner</h4>
            </div>

            <div id="hackathon-agenda-bottom">
              <h3 class="uppercase">Sunday, March 9th</h3>
              <h4>Daylight Savings! 1:59 AM</h4>
              <h4>Breakfast 8:00 AM</h4>
              <h4>Final Demos and Judging 11:00 AM</h4>
              <h4>Winner Announcements and Awards 12:00 PM</h4>
            </div>
          </div>
        </div>

        <div id="hackathon-prizes" class="hackathon-section">
          <div id="hackathon-prizes-inner">
            <div id="hackathon-prizes-trophy-text" class="center">
              <h1 class="uppercase">Prizes</h1>
              <%= image_tag "hackathon/trophy.png", class: "trophy-image" %>
            </div>

            <div id="hackathon-prizes-winners">
              <ul class="winners no-bullets">
                <li class="winner"><%= image_tag "hackathon/first_place.png", class: "winner-image" %><span class="uppercase medium-title winner-title">iPad Minis (Retina)</span></li>
                <li class="winner"><%= image_tag "hackathon/second_place.png", class: "winner-image" %><span class="uppercase medium-title winner-title">Fitbits</span></li>
                <li class="winner"><%= image_tag "hackathon/third_place.png", class: "winner-image" %><span class="uppercase medium-title winner-title">Leap Motions</span></li>
                <li class="winner"><span class="uppercase medium-title winner-title no-margin additional-prizes">And more including: Arduinos, Amazon Gift Cards, and EA Games!</span></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="hackathon-sponsors" class="hackathon-section">
          <div id="hackathon-sponsors-inner">
            <div id="hackathon-sponsors-inner-border">
              <div id="hackathon-sponsors-title">
                <h1 class="uppercase">Sponsors</h1>
              </div>

              <div id="sponsor-images">
                <div class="sponsor">
                  <%= image_tag "hackathon/sponsors/palantir-logo.png", class: "sponsor-image-medium" %>
                </div>
                <div class="sponsor sponsor-large">
                  <%= image_tag "hackathon/sponsors/salesforce-logo.png", class: "sponsor-image-large" %>
                </div>
                <div class="sponsor">
                  <%= image_tag "hackathon/sponsors/redfin-logo.png", class: "sponsor-image-medium" %>
                </div>
                <div class="sponsor">
                  <%= image_tag "hackathon/sponsors/microsoft-logo.png", class: "sponsor-image-small" %>
                </div>
                <div class="sponsor">
                  <%= image_tag "hackathon/sponsors/ea-logo.png", class: "sponsor-image-small ea-logo" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="hackathon-idea-pitches" class="hackathon-section">
          <div id="hackathon-idea-pitches-inner" class="center">
            <h1 class="uppercase">Idea <%= image_tag "hackathon/light_bulb.png" %> Pitches</h1>

            <div id="idea-pitches-images">
              <div class="npo-images">
                <div class="npo">
                  <%= image_tag "hackathon/npos/foundation-for-sustainable-development.png", class: "npo-image" %>
                </div>
                <div class="npo">
                  <%= image_tag "hackathon/npos/iisme.png", class: "npo-image" %>
                </div>
                <div class="npo npo-medium">
                  <%= image_tag "hackathon/npos/lawrence-hos.png", class: "npo-image" %>
                </div>
                <div class="npo">
                  <%= image_tag "hackathon/npos/partners-in-school-innovation.png", class: "npo-image" %>
                </div>
              </div>
              <div class="npo-images">
                <div class="npo npo-small">
                  <%= image_tag "hackathon/npos/centro-legal.png", class: "npo-image" %>
                </div>
                <div class="npo npo-small">
                  <%= image_tag "hackathon/npos/college-track.png", class: "npo-image" %>
                </div>
                <div class="npo npo-small">
                  <%= image_tag "hackathon/npos/support-oakland-artists.png", class: "npo-image" %>
                </div>
                <div class="npo">
                  <%= image_tag "hackathon/npos/the-stride-center.png", class: "npo-image" %>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="hackathon-rsvp">
          <div id="hackathon-rsvp-inner" class="center">
            <h1>RSVP</h1>
            <%= link_to "Click Here", hackathon_link, class: "flat-button inverted" %>
          </div>

          <div id="hackathon-terms">
            <h3 class="uppercase center"><%= link_to "Terms and Conditions", "/downloads/blueprint_hackathon_terms_and_conditions.pdf" %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
