<div class="container">
<div class="row-fluid">
  <div class="span10 offset1">
    <h1 class="featurette-heading-blue">Join Blueprint</h1>
  </div>
</div>
<br>
<br>
<div class="row-fluid">
  <div class="span7 offset1">
    <h2 class="text-heading-yellow featurette-heading-small">Student Application</h2>
      <p class="paragraph-font">
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Unfortunately Blueprint is not ready yet to accept
        applications. Please <a href="https://www.facebook.com/CalBlueprint">like</a> us on Facebook to be notified as soon as it is up!
      </p>

      <%= form_for @application, :url => applications_path, :html => { :multipart => true } do |form| %>

        <%= form.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= form.text_field :name, :class => 'text_field' %>
        </div>

        <%= form.label :resume, :class => 'control-label' %>
        <div class="controls">
          <%= form.file_field :resume, :class => 'file_field' %>
        </div>

        <%= form.submit "Submit Resume" %>
        
      <% end %>

    <hr class="featurette-divider">
    <h2 class="text-heading-yellow featurette-heading-small">Organization Application</h2>
      <p class="paragraph-font">
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Unfortunately Blueprint is not ready yet to accept applications.
        Please <a href="https://www.facebook.com/CalBlueprint">like</a> us on Facebook to be notified as soon as it is up!
      </p>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h4>Recruiting Schedule</h2>
      <dl>
        <dt>First Info Session</dt>
        <dd class="paragraph-font-small">Date: TBA</dd>
        <dd class="paragraph-font-small">Location: TBA</dd>
        <br>
        <dt>Second Info Session</dt>
        <dd class="paragraph-font-small">Date: TBA</dd>
        <dd class="paragraph-font-small">Location: TBA</dd>
        <br>
        <dt>Application Deadline</dt>
        <dd class="paragraph-font-small">Saturday 2/2, 12:00 pm</dd>
        <br>
        <dt>Code Challenge</dt>
        <dd class="paragraph-font-small">Wednesday 2/6, 6:00 pm</dd>
        <br>
        <dt>Interviews</dt>
        <dd class="paragraph-font-small">Friday 2/8, 6:00 pm</dd>
      </dl>
    </div><!--/.well -->
  </div><!--/.span3 -->
</div><!--/.row-fluid -->

<hr class="featurette-divider">
</div><!--/.container -->