<div class="container login">
  <br><br>
  <div class="form-signin">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <button type="submit" class="login-logo">
        <img src="assets/PAW_300x300.png" class="spin-logo"/>
      </button>
      <br>
      <div><%= f.email_field :email, :class => "input-large", :type => "email", :placeholder => "email"%></div>

      <div><%= f.password_field :password, :class => "input-large", :type => "password", :placeholder => "password" %></div>
    <% end %>
    <%= link_to image_tag('/assets/facebook_sign_in.png'), user_omniauth_authorize_path(:facebook) %>
    <br><br>
    <%= link_to "Forgot Password?", new_password_path('user') %>
  </div>
  <br><br><br><br><br><br><br><br><br>
  <hr class="featurette-divider">
</div>
