<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <%= nested_form_for @hack do |f| %>
      <div class="hack-main-details">
        <div class="hack-photo">
          PHOTO
        </div>

        <div class="hack-info">
          <div class="hack-name">
            <%= f.label :title, "Hack Title" %>
            <%= f.text_field :title %>
          </div>

          <div class="hack-description">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 10 %>
          </div>
        </div>
      </div>

      <div class="hack-tags">
        <%= f.label :tags %>
        <%= f.text_field :tag_list %>
      </div>

      <div class="hack-people">
        <%= f.label :people %>
        <%= f.fields_for :students do |fs| %>
          <%= fs.label :name %>
          <%= fs.text_field :name %>

          <%= fs.label :email %>
          <%= fs.text_field :email %>

          <%= fs.link_to_remove "Remove this hacker" %>
        <% end %>
        <%= f.link_to_add "Add a hacker", :students %>
      </div>

      <div class="hack-links">
        LINKS
      </div>

      <div class="hack-submit">
        <%= f.submit %>
      </div>

    </div>
    <% end %>
  </div>
</div>
