<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <%= form_for @hack do |f| %>
      <div class="hack-main-details">
        <div class="hack-photo">
          PHOTO
        </div>

        <div class="hack-info">
          <div class="hack-name">
            <%= f.label :name %>
            <%= f.text_field :title %>
          </div>

          <div class="hack-description">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 10 %>
          </div>
        </div>
      </div>

      <div class="hack-tags">
        <%= f.label :tags %>
        <%= f.text_field :tag_list %>
      </div>

      <div class="hack-people">
        PEOPLE
      </div>

      <div class="hack-links">
        LINKS
      </div>

      <div class="hack-submit">
        <%= f.submit %>
      </div>

    </div>
    <% end %>
  </div>
</div>
