<%= form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <% if prompt_password %>
    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'password_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm Password", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'password_field' %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :major, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :major, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :site, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :site, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :facebook_id, "Facebook E-mail", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook_id, :class => 'text_field' %>
    </div>
  </div>
  <p>This is the e-mail you use for Facebook sign in. If it's the same as your Blueprint login, you can leave it blank.</p>

  <%= f.fields_for :roles do |role_fields| %>
    <% Semester.all.each do |semester| %>
      <div class="control-group">
        <%= f.label semester.full_name, class: "control-label" %>
        <div class="controls">
          <% if @user.role_for_semester(semester) %>
            <%= role_fields.select :name, @positions, selected: @user.role_for_semester(semester).name, class: "text_field" %>
          <% else %>
            <%= role_fields.select :name, @positions, include_blank: true, class: "text_field" %>
          <% end %>
          <%= role_fields.hidden_field :semester_id, value: semester.id %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="control-group">
    <%= f.label :photo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'file_field' %>
    </div>
  </div>

<!--   <div class="controls">
    <%= image_tag @user.image.url(:medium) %>
  </div> -->

  <div class="control-group">
    <%= f.label :is_alumni, :class => 'control-label' %>
    <div class = "controls">
      <%= f.check_box :is_alumni, :class => 'checkbox' %>
    </div>
  </div>
  <% if current_user.is_admin %>
    <div class="control-group">
      <%= f.label :is_admin, :class => 'control-label' %>
      <div class = "controls">
        <%= f.check_box :is_admin, :class => 'checkbox' %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>
<% end %>
