<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div>
  An <b>admin</b> has full access to the dashboard, including viewing applications and changing the public-facing parts of the website.
  A <b>deactivated</b> user still can sign in but will not be allowed to view anything a normal user can, including changing their own bio.
  The <b>hide/reveal</b> buttons control if this user appears on the team page.
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:major) %></th>
      <th>Sign Ins</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.is_admin %><i class="icon-user"></i><% end %>
          <% if user.is_alumni %><i class="icon-briefcase"></i><% end %>
          <%= user.name %>
        </td>
        <td><%= user.position %></td>
        <td><%= user.year %></td>
        <td><%= user.major %></td>
        <td><%= user.sign_in_count %></td>
  	    <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_user_path(user), :class => 'btn btn-mini' %>
          <% if user.is_activated %>
            <%= link_to "Deactivate", admin_activate_user_path(user), :class => 'btn btn-mini btn-warning' %>
          <% else %>
            <%= link_to "Activate", admin_activate_user_path(user), :class => 'btn btn-mini btn-success' %>
          <% end %>
          <% if user.is_visible %>
            <%= link_to "Hide", admin_reveal_user_path(user), :class => 'btn btn-mini' %>
          <% else %>
            <%= link_to "Reveal", admin_reveal_user_path(user), :class => 'btn btn-mini btn-info' %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            admin_user_path(user),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %>
  	    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_user_path,
            :class => 'btn btn-primary' %>
