<div class="navbar navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid mobile-header-row">
        <div class="span12 mobile-full-width">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--<%= link_to image_tag("PAW_20x20.png"), root_path, :class => "brand gear-logo nav-logo pull-left" %>-->
          <%= link_to image_tag("logo-full-large.png"), root_path, :class => "brand full-logo pull-left" %>

          <div class="nav-collapse collapse pull-right">
            <ul class="nav uppercase lato">
              <%= render partial: "shared/signin_button" %>
              <li class="<%= 'active-li' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'active-li' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
              <li class="<%= 'active-li' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
              <li class="<%= 'active-li' if current_page?(team_path) %>"><%= link_to "Team", team_path %></li>
              <li class="<%= 'active-li' if current_page?(hackathon_path) %>"><%= link_to "Hackathon", hackathon_path %></li>
              <li class="<%= 'active-li' if current_page?(join_path) || current_page?(new_application_path) %>"><%= link_to "Join", join_path %></li>
              <li class="<%= 'active-li'if current_page?(sponsors_path) %>"><%= link_to "Sponsors", sponsors_path %></li>
              <li class="<%= 'active-li' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
