<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to image_tag("blueprint_paw.png"), root_path, :class => "brand gear-logo nav-logo" %>
      <%= link_to image_tag("logo-full.png"), root_path, :class => "brand full-logo" %>
      <a class="btn btn-primary application-btn" href="<%=new_application_path%>">Apply</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
          <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
          <li class="<%= 'active' if current_page?(join_path) %>"><%= link_to "Join", join_path %></li>
          <li class="<%= 'active' if current_page?(support_path) %>"><%= link_to "Support Us", support_path %></li>
          <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if not current_user.nil? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown">
                  <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Applications", applications_path %></li>
                  <li><%= link_to "Members", members_path %></li>
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
          <% end %>
        </ul>
        <!--for future company login
          <ul class="nav pull-right">
            <li><%= link_to "Sign In", new_user_session_path %></li>
          </ul>
        -->
      </div>
    </div>
  </div>

</div>